star {
  display: block;
}

.star-container {
  display: block;
  margin-top: 4px;
  position: relative;
}

.star-mask {
  height: 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #f09b00;
  clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
  -webkit-clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
}
